<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576996964089-j766a6bniqcumef61ehe7m8cm8s4kq4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576996964089-j766a6bniqcumef61ehe7m8cm8s4kq4t</string>
	<key>API_KEY</key>
	<string>AIzaSyCo4Tfompo9ZiKxWhipLuzg00-wJf56-D0</string>
	<key>GCM_SENDER_ID</key>
	<string>576996964089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-2331d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-2331d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576996964089:ios:b7696ee9fb2027679bd428</string>
</dict>
</plist>